# This file lists the optional development dependencies 
# for StringZilla Python benchmarks
stringzilla==4.0.9
stringzillas-cpus==4.0.9

# For substring search:
pyahocorasick

# For hashing:
xxhash # https://github.com/ifduyue/python-xxhash, https://github.com/Cyan4973/xxHash 
murmurhash # https://github.com/explosion/murmurhash, https://github.com/aappleby/smhasher
google-crc32c # https://github.com/googleapis/python-crc32c 
mmh3 # https://github.com/hajimes/mmh3
cityhash # https://github.com/escherba/python-cityhash

# For Levenshtein distances:
rapidfuzz  # https://github.com/rapidfuzz/RapidFuzz
python-Levenshtein  # https://github.com/maxbachmann/python-Levenshtein
levenshtein # https://github.com/maxbachmann/Levenshtein
jellyfish # https://github.com/jamesturk/jellyfish/
editdistance # https://github.com/roy-ht/editdistance
distance # https://github.com/doukremt/distance
polyleven # https://github.com/fujimotos/polyleven
edlib # https://github.com/Martinsos/edlib
nltk # https://github.com/nltk/nltk

# For Needleman-Wunsch and Smith-Waterman algorithms with custom scoring matrices:
biopython # https://github.com/biopython/biopython

# For sorting:
pyarrow # https://github.com/apache/arrow
pandas # https://github.com/pandas-dev/pandas
polars # https://github.com/pola-rs/polars

# For memory RNG benchmarks
numpy # https://github.com/numpy/numpy
pycryptodome # https://github.com/Legrandin/pycryptodome
